body {
	font-family: sans-serif;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul.menu li {
	float: left;
}

li.songName {
	padding: 14px 16px;
	width: auto;
	color: #ddd;
	text-decoration: underline;
}

li.playModeName {
	padding: 14px 16px;
	font-size: small;
	color: #777;
}

li.playlistName {
	padding: 14px 16px;
	font-size: small;
	color: white;
}

ul.menu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul.menu li a:hover {
	background-color: #111;
}

input {
	font-size: small;
	margin: 10px;
	width: 60%;
}

ul.menu input {
	width: 200;
}

div.main {
	overflow: auto;
}

a {
	color:#888;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input[type="submit"] {
	width: auto;
}

div.main {
	padding: 50px;
	padding-top: 10px;
}

ul.playlists {
	display: block;
	width: 30%;
	float: left;
	margin: 0px;
	padding: 0px;
}

ul.songs {
	margin: 0px;
	padding: 0px;
	width: 70%;
	float: right;
	display: block;
}

div.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


div.dropdown.show {display:block;}

div.dropdown li:hover {
	color: black;
}

a.dropdown {
	display: inline-block;
}

input.dropped {
	padding: 0px;
	margin: 0px;
	width: 90%;
}
